<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="wpa81" userInstalled="true" />
  <package id="LumiaImagingSDK" version="2.0.208" targetFramework="wpa81" userInstalled="true" />
  <package id="Microsoft.ApplicationInsights" version="0.14.3-build00177" targetFramework="wpa81" userInstalled="true" />
  <package id="Microsoft.ApplicationInsights.PersistenceChannel" version="0.14.3-build00177" targetFramework="wpa81" userInstalled="true" />
  <package id="Microsoft.ApplicationInsights.WindowsApps" version="0.14.3-build00177" targetFramework="wpa81" userInstalled="true" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.16-beta" targetFramework="wpa81" userInstalled="true" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="wpa81" userInstalled="true" />
</packages>